#HELP#
#boolean fields -> True / False values
#list values have to be separated by semicolon a;b;c
# if any changes made to models, set cold_start flag to True


[DEFAULT]
sku_path = ./datasets
sku_output_path = ./datasets_sanitized
n_steps = 50
encoding=cp852
forecast_column = zmniejszenie_stanu
train_models = True
cold_start = True

[PREPROCESSING]
remove_trend = False
scale = True
standarize = False
crop_idx = 326
drop_cols = koniec_tygodnia;poziom3;poziom2

[CLUSTERING]
n_clusters = -1
k_means_n_iterations = 2
k_means_metric = euclidean
rnn_epochs = 700
encoder_output_units = 100;200;300
decoder_output_units = 500
n_steps = 50
batch_size = 16;32
sku_path = ./datasets_sanitized
discriminative_columns = zmniejszenie_stanu;zmniejszenie_stanu_poziom2;sredni_przychod;srednia_wartosc;przychod;wartosc
early_stopping = True
full_dataset = False
cold_start = True


[FORECASTING]
rnn_cell = GRU;LSTM
n_layers = 2;3;5
n_epochs = 800
n_neurons = 100;200;400
batch_size = 10;20
activation = tanh:relu
forecast_horizon = 12
forecast_column = zmniejszenie_stanu
loss_metrics = mse
sku_path = ./datasets_sanitized/
early_stopping = True
full_dataset = False
cold_start = True