#HELP#
#boolean fields -> True or False
#list values separated by semicolon a;b;c
# if any changes made to models, set cold_start flag to True

# k_mean_n_iteration = 5
# rnn_epochs = 2500
# endocer outputs = 300

[DEFAULT]
sku_path = ./datasets
sku_output_path = ./datasets_sanitized
n_steps = 50

[PREPROCESSING]
remove_trend = True
scale = True
standarize = False
crop_idx = 326
drop_cols = koniec_tygodnia;poziom4;poziom2

[CLUSTERING]
n_clusters = 4
k_means_n_iterations = 4
rnn_epochs = 1000
encoder_output_units = 500
decoder_output_units = 300
n_steps = 50
sku_path = ./datasets_sanitized
cold_start = True

[FORECASTING]
rnn_cell = GRU
n_layers = 2
n_epochs = 10
n_neurons = 125
batch_size = 5
activation = tanh
forecast_horizon = 12
forecast_column = zmniejszenie_stanu
loss_metrics = mse;mae
sku_path = ./datasets_sanitized/
cold_start = True