#HELP#
#boolean fields -> True / False values
#list values have to be separated by semicolon a;b;c
# if any changes made to models, set cold_start flag to True


[DEFAULT]
sku_path = ./datasets
sku_output_path = ./datasets_sanitized
n_steps = 50
encoding=cp852


[PREPROCESSING]
remove_trend = False
scale = True
standarize = False
crop_idx = 326
drop_cols = koniec_tygodnia;poziom3;poziom2

[CLUSTERING]
n_clusters = 4
k_means_n_iterations = 4
k_means_metric = euclidean
rnn_epochs = 1000
encoder_output_units = 200
decoder_output_units = 300
n_steps = 50
sku_path = ./datasets_sanitized
discriminative_columns = zmniejszenie_stanu;zmniejszenie_stanu_poziom2;sredni_przychod;srednia_wartosc;przychod;wartosc
cold_start = False


[FORECASTING]
rnn_cell = GRU
n_layers = 8
n_epochs = 700
n_neurons = 500
batch_size = 5
activation = tanh
forecast_horizon = 12
forecast_column = zmniejszenie_stanu
loss_metrics = mse
sku_path = ./datasets_sanitized/
cold_start = True