#HELP#
#boolean fields -> True / False values
#list values have to be separated by semicolon a;b;c
# if any changes made to models, set cold_start flag to True


[DEFAULT]
sku_path = ./datasets
sku_output_path = ./datasets_sanitized
n_steps = 30
n_sequences = 800


[CLUSTERING]
n_clusters = 4
k_means_n_iterations = 4
k_means_metric = euclidean
rnn_epochs = 500
encoder_output_units = 50
decoder_output_units = 300
n_steps = 30
batch_size = 32
sku_path = ./datasets_sanitized
discriminative_columns = zmniejszenie_stanu;zmniejszenie_stanu_poziom2;sredni_przychod;srednia_wartosc;przychod;wartosc
full_dataset = True
cold_start = True


[FORECASTING]
rnn_cell = GRU
n_layers = 2
n_epochs = 100
n_neurons = 100
batch_size = 32
activation = tanh
forecast_horizon = 10
forecast_column = zmniejszenie_stanu
loss_metrics = mse
sku_path = ./datasets_sanitized/
full_dataset = False
cold_start = True